<!doctype html>
    <html lang="fr">
        <head>
            <title>Flask app</title>
            <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"
        </head>
        <body>
            <h2>Contactez-moi</h2>
            <form class="form">
                <div class="card">
                    <div class="card-row">
                        <div class="card-col">
                            <label for="mail">Adresse e-mail</label>
                        </div>
                        <div class="card-col">
                            <input type="text" id="mail" name="mail">
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-col">
                            <label for="msg">Entrez un message</label>
                        </div>
                        <div class="card-col">
                            <textarea id="msg" name="msg"></textarea>
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-col">
                            <input type="button" id="send" name="send" value="Envoyer">
                        </div>
                    <div>        
                </div>
            </form>      
        </body>
    </html>